
/* .menu{ 
    display: block; 
    margin: left 20px;
} */

#bookMenu { 
    margin-left: -20;
    position:relative; font:12px arial, helvetica, sans-serif;
    background-color: #CCCCCC;
    /* #resMenu {left:10px; width:130px}
    #bookMenu {left:145px; width:160px}
    A {text-decoration:none; color:#000000}
    A:hover {background-color:pink; color:blue} */
}
.formcheck{margin-left: 60px;}